.notas-container {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }
  
  .titulo {
    margin: 30px 0px;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .tabla-notas {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .tabla-notas th,
  .tabla-notas td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .tabla-notas thead {
    background-color: #d1a7f4;
  }
  
  .tabla-notas th {
    color: black;
    font-weight: bold;
  }
  
  .tabla-notas tbody tr:hover {
    background-color: #f0f0f0;
  }