.main-content{
    display: flex;
    justify-content: center;
    width: 80vw;
}
.main-content .carrusel{
    width: 98%;
    height: 280px;
    margin-top: 10px;
    background-color: #CAFFBF;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    color: white;
    align-items: center;
    background-image: url(../public/imagen1Carrusel.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.6);
}